#header {
  height: 9.8rem;
}

#nav-items {
  list-style: none;
}

#nav-items > li {
  font-family: "Arimo", sans-serif;
  font-size: 1.6rem;
}

#logo {
  height: 4.4rem;
}

#hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100vw;
  padding: 5rem;
}

.hero-text {
  margin-top: 8rem;
}
