.mx-auto {
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.p-20 {
  padding: 2rem;
}

.px-10 {
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.flex-cols {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-5 {
  gap: 0.5rem;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-32 {
  gap: 3.2rem;
}

.text-white {
  color: white;
}

.text-blue {
  color: #2563eb;
}

.text-80 {
  font-size: 8rem;
}

.text-56 {
  font-size: 5.6rem;
}

.text-22 {
  font-size: 2.2rem;
}

.text-base {
  font-size: 1.6rem;
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.mb-56 {
  margin-bottom: 5.6rem;
}

.px-60 {
  padding: 0 6rem;
}

.text-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
