.mx-auto {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-cols {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 2.4rem;
}

/* TEXT COLOR */
.text-white {
  color: white;
}

/* TEXT SIZE */
.text-xl {
  font-size: 8rem;
}

.text-lg {
  font-size: 2.2rem;
}

.text-base {
  font-size: 1.6rem;
}

/* TEXT STYLE */
.text-italic {
  font-style: italic;
}

/* TEXT POSITION */
.text-center {
  text-align: center;
}
