.mx-auto {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-cols {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 2.4rem;
}

.text-white {
  color: white;
}

.text-xl {
  font-size: 8rem;
}

.text-lg {
  font-size: 2.2rem;
}

.text-base {
  font-size: 1.6rem;
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 2rem;
}
